<div class="pairings">
  <div>
    <button class="pairings__button" *ngIf="showUnavailable" (click)="showUnavailable = false"><fa name="eye-slash"></fa> Hide Unavailable Units</button>
    <button class="pairings__button inactive" *ngIf="!showUnavailable" (click)="showUnavailable = true"><fa name="eye"></fa> Show Unavailable Units</button>
    <button class="pairings__button" (click)="resetAvailability()"><fa name="undo"></fa> Reset</button>
  </div>
  <!-- <button class="pairings__button" (click)="copyTroops()"><fa name="copy"></fa> Copy</button> -->
  <div *ngIf="myHeroes && heroes && factions">
    <div *ngFor="let faction of factions">
      <h2 class="pairings__faction-name"><img class="pairings__faction-icon" [src]="faction.icon">{{faction.fullName}}</h2>
      <lgp-hero-avatar
        class="pairings__hero-object"
        [ngClass]="
          {'no-show': isUnavailable(hero) && !showUnavailable}
        "
        *ngFor="let hero of heroes | lgpFaction:faction.key | lgpMyHero:myHeroes"
        (click)="toggleAvailability(hero)"
        [hero]="hero"
        [showFactionIcons]="false"
        [size]="'small'"
        [showDisabled]="isUnavailable(hero)"></lgp-hero-avatar>
    </div>
  </div>


</div>