<div class="info-page">
  <h3>Who are the Seekers?</h3>
  <p>
    The Seekers are a Langrisser Mobile guild who play on the Dalsis server, doing endgame content. They also have a casual sister guild, Solstice, run by me.
  </p>
  <h3>What is this tool?</h3>
  <p>
    This tool is to help you easily track what troops you have available for guild wars, to make it easier to coordiante with your guildmates (in Seekers, or otherwise) in forming groups.
  </p>
  <h3>How do I use this tool?</h3>
  <p>
      Simply select which heroes you have ready in the My Troops tab by clicking or tapping on them. Then, mark them unavailable in the Guild War tab as you use them by clicking or tapping on them, to quickly generate a view of what factions you still have on-faction units for.
  </p>
  <h3>What is Langrisser Mobile?</h3>
  <p>
    <a href="https://langrisser.zlongame.com/">Langrisser Mobile</a> is a mobile game made by <a href="https://langrisser.zlongame.com/">Zlongame</a>. 
    It is available on <a href="https://play.google.com/store/apps/details?id=com.zlongame.un.mhmnz">Android</a>, <a href="https://itunes.apple.com/app/id1435314243?mt=8">iOS</a>, and on PC. It's very free to play friendly, and if you somehow ended up here and don't know what it is, give it a try!
  </p>
</div>
