<div class="hero-avatar" *ngIf="hero"
  [ngClass]="{
    'hero-avatar--small' : size === 'small',
    'hero-avatar--medium' : size === 'medium',
    'hero-avatar--large' : size === 'large',
    'hero-avatar--disabled': showDisabled
  }">
  <div class="hero-avatar__avatar-wrapper">
    <img [src]="hero.icon"
    class="hero-avatar__icon" 
    [ngClass]="{
      'hero-avatar__icon--icondisabled' : showDisabled,
      'hero-avatar__icon--ssr' : hero.quality == qualities.SSR,
      'hero-avatar__icon--sr' : hero.quality == qualities.SR,
      'hero-avatar__icon--r' : hero.quality == qualities.R,
      'hero-avatar__icon--medium' : size === 'medium',
      'hero-avatar__icon--large' : size === 'large'
    }">
    <div class="hero-avatar__roles">
        <img *ngIf="hero.hasBuff && hero.hasBuff === showBuffIcon" class="hero-avatar__role-icon" [src]="'/assets/icons/factions/' + showBuffIcon +'.png'">
        <img *ngIf="hero.isHealer" class="hero-avatar__role-icon" src="/assets/icons/skills/heal.png">
    </div>
  </div>
  <div class="hero-avatar__factions"
    *ngIf="showFactionIcons">
    <img *ngIf="hero.dark" class="hero-avatar__factionicon" src="/assets/icons/factions/dark.png" alt="Dark Reincarnation">
    <img *ngIf="hero.empire" class="hero-avatar__factionicon" src="/assets/icons/factions/empire.png" alt="Empire's Honor">
    <img *ngIf="hero.glory" class="hero-avatar__factionicon" src="/assets/icons/factions/glory.png" alt="Legion of Glory">
    <img *ngIf="hero.legends" class="hero-avatar__factionicon" src="/assets/icons/factions/legends.png" alt="Yeless Legends">
    <img *ngIf="hero.meteor" class="hero-avatar__factionicon" src="/assets/icons/factions/meteor.png" alt="Meteor Strike">
    <img *ngIf="hero.origins" class="hero-avatar__factionicon" src="/assets/icons/factions/origins.png" alt="Origins of Light">
    <img *ngIf="hero.princess" class="hero-avatar__factionicon" src="/assets/icons/factions/princess.png" alt="Princess Alliance">
    <img *ngIf="hero.protagonists" class="hero-avatar__factionicon" src="/assets/icons/factions/protagonists.png" alt="Protagonists">
    <img *ngIf="hero.strategic" class="hero-avatar__factionicon" src="/assets/icons/factions/strategic.png" alt="Strategic Masters">
    <img *ngIf="hero.time" class="hero-avatar__factionicon" src="/assets/icons/factions/time.png" alt="Heroes of Time">
  </div>
  <div class="hero-avatar__nameplate"
    [ngClass]="{
      'hero-avatar__nameplate--medium' : size === 'medium',
      'hero-avatar__nameplate--large' : size === 'large'
    }">{{hero.name}}</div>
</div>